node_modules/
package-lock.json
src/public/views/categorias4.json
src/public/views/subcategorias.json
src/public/js/Entitys/Producto.js
src/public/resources
src/public/js/components/Function-Multiples-Scopes/FunctionsCarrito.js
