<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- #region Configuracion basica -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- #endregion -->

    <!-- #region Titulo que se vizualisa en la pestaña del navegador -->
    <title>Mas Farmacia</title>
    <!-- #endregion -->

    <!-- #region Importacion de los estilos CSS y BOOSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/components/HeaderStyle.css">
    <link rel="stylesheet" href="/css/components/CarruselHomeStyle.css">
    <link rel="stylesheet" href="/css/components/FooterStyle.css">
    <link rel="stylesheet" href="/css/components/FeaturesHomeStyle.css">

    <script type="module" src="js/Home.js" crossorigin="anonymous"></script>    
    <!-- #endregion -->            
    
  </head>

  <body>
    <div id="HeaderGeneral">
    </div>
    <div id="CarruselHome">
    </div>
    <div id="FeaturedHome">
    </div>
    <div id="FooterGeneral">
    </div>  
    <script>
    function ClickToId(id)
    {   
      debugger;document.getElementById(id).click();
    }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!--#endregion-->
  
  </body>
</html>
